.red-btn{
    padding: 17px 30px;
    background-color: $red-400;
    color: white;
    font-weight: $w-boldest;
    border-radius: 100px;
    transition: .5s;
    &:hover{
        color: black;
    }
}
.icon-btn-light{
    padding: 17px 20px;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
    &:hover{
        color: white;
        background-color: $red-400;
    }
}
.icon-btn-red{
    padding: 17px 20px;
    border-radius: 50%;
    background-color: $red-400;
    transition: .5s;
}