$base:4px;

// font size
$text-xs:12px;
$text-sm:14px;
$text-md:20px;
$text-lg:24px;
$text-xl:28px;
$text-2xl:32px;


// font weight
$w-thinner:100;
$w-thin:200;
$w-normal:300;
$w-medium:400;
$w-bold:500;
$w-bolder:600;
$w-boldest:700;