@keyframes up-down {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes rotate-360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes smallToBig {
  0% {
    transform: rotateZ(0deg) scale(1.0);
  }
  50% {
    transform: rotateZ(45deg) scale(0.8);
  }
  100%{
    transform: rotateZ(0deg) scale(1.0);
  }
}