// colors
$red-100:#ffecec;
$red-400:#b00f0f;
$red-500:#DB0A0A;
$red-600:#DF0A0A;

$grey-100:#E8E8E8;
$grey-666:#5d666f;
$grey-footer: #8b8f99;
$grey-faf:#F6F6F6;

$black-181:#181a1c;
$black-253:#1c2539;

$gold-519:#F2B519;


