@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

// colors
$red-400:#b00f0f;
$red-500:#DB0A0A;
$red-600:#DF0A0A;

$grey-100:#E8E8E8;
$grey-666:#5d666f;

$black-181:#181a1c;
$black-253:#1c2539;


$dm-sans: 'DM Sans', sans-serif;
$red-hat-display: 'Red Hat Display', sans-serif;;
