.main-header {
  ul {
    display: flex;
    gap: $base * 8;
    color: $black-253;
    font-weight: $w-bold;
  }
  li {
    position: relative;
    transition: 0.5s;
    &:hover {
      color: $red-600;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      top: 105%;
      left: 0;
      height: 2px;
      transition: 0.5s;
      background-color: $red-600;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
#scroll {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 46px;
  height: 46px;
  border: 1px solid $red-500;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  i {
    border-radius: 50%;
    display: block;
    width: 70%;
    height: 70%;
    background: white;
    color: $red-500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
