.details {
  p {
    line-height: 150%;
  }
  font-family: $dm-sans;
  gap: 50px;
  .left-top-img {
    overflow: hidden;
    .main-img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .info {
    display: flex;
    background-color: transparent;
    color: $grey-666;
    position: static;
    margin-top: 30px;
    padding-left: 50px;
    .text-red {
      color: $red-600;
    }
  }
  .left {
    padding-bottom: 50px;
    border-radius: $base * 5;
    border: 1px solid $grey-100;
    overflow: hidden;
    &-body {
      padding: 0 50px;
    }
    .first-title {
      font-size: 36px;
      color: $black-253;
      margin-bottom: 20px;
    }
    p {
      color: $grey-footer;
    }
    .daniel {
      background: $grey-100;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 7% 6%;
      border-radius: $base * 2;
      margin: 40px 0;
      .text-red {
        color: $red-600;
        font-weight: $w-bolder;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 7px;
      }
      &-title {
        color: $black-253 !important;
        font-size: 24px;
        font-weight: $w-bolder;
      }
      font-size: 14px;
    }
    .imgs {
      display: flex;
      gap: 20px;
      margin: 40px 0;
      div {
        border-radius: $base * 2;
        overflow: hidden;
        img {
          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    h3 {
      color: $black-253;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .checklist {
      .text-red {
        color: $red-600;
      }
      p {
        margin-bottom: 5px;
      }
    }
    .tags {
      margin: 40px 0;
      display: flex;
      justify-content: space-between;
      color: $black-253;
      a {
        font-size: 14px;
        font-weight: 400;
        color: $black-253;
        padding: 11px 14px;
        background-color: $grey-100;
        display: inline-block;
        &:hover {
          color: white;
          background-color: $red-600;
          transform: scale(1.1);
        }
      }
      div {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .title {
        font-size: 18px;
      }
    }
    .comments {
      padding-top: 10px;
      border-top: 1px solid $grey-100;
    }
    .comment-info {
      width: 70%;
      padding-left: 10px;
      h2 {
        color: $black-253;
        margin-bottom: 10px;
      }
    }
    .contact-form {
      border-top: 1px solid $grey-100;
      padding-top: 40px;
      h4 {
        font-size: 30px;
        color: $black-253;
      }
    }
    .form-button {
      justify-content: start;
    }
    @include media(sm){
      .imgs{
        flex-wrap: wrap;
        justify-content: center;
      }
      .comment-info{
        width: 100%;
      }
      .tags{
        flex-wrap: wrap;
        gap: 20px;
        div{
          align-items: start;
        }
      }
    }
  }
}
.justify-between{
  justify-content: space-between;
}