.banner{
    background-image: url(/assets/images/home-banner.png);
    width: 100%;
    height: 1150px;
    display: flex;
    align-items: center;
    font-family: $dm-sans;
    position: relative;
    .container{
        transform: translateY(-30%);
    }
    h1{
        font-family: $red-hat-display;
        font-size: $base * 15;
        line-height: 90px;
        .part-2{
            font-size: $base * 27.5;
        }
    }
    p{
        color: $grey-666;
        font-size: $text-md;
        padding-left: $base * 23;
        margin-top: $base * 2.5;
    }
    .red-btn{
        display: inline-block;
        transform: translateY($base * 10);
        &:hover{
            background-color: $red-100;
        }
    }
    img{
        position: absolute;
        left: -2%;
        top: 68%;
        animation: up-down 4s linear infinite;
    }
    &::before{
        content: "";
        background-image: url(/assets/images/banner2.png);
        background-repeat: no-repeat;
        background-size: 100% 90%;
        position: absolute;
        top: 35%;
        right: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@keyframes up-down {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0%);
    }
}